<div class="input-field">
    <label class="input-label" for="sortBy">Sort By:</label>
    <select class="input-box" name="sortBy" id="sortBy">
        <option value="relevency">Relevency</option>
        <option value="popularity">Popularity</option>
        <option value="publishedAt">Published At</option>
    </select>
</div>